html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.side {
  background: $sidebarColor;
  width: 300px;
  box-sizing: border-box;
  float: left;
  &__header {
    background: $sideHeaderColor;
    height: 100px;
    padding: 0 20px;
    line-height: 100px;

    h3.header__name {
      display: inline-block;
      font-size: 16px;
      font-weight: bold;
      color: $mainheaderColor;
    }
    ul.header__lists {
      display: inline-block;
      float: right;
      li {
        display: inline-block;
        float: right;
        padding-right: 10px;
        a {
          color: $mainheaderColor;
        }
      }
    }
  }
  &__content {
    height: calc(100vh - 100px);
    padding: 0 20px;
    overflow: scroll;
    .group {
      box-sizing: border-box;
      padding: 20px 0 40px;
      .group__name {
        color: $footerimageColor;
        font-size: 15px;
      }
      .group__message {
        color: $footerimageColor;
        font-size: 11px;
        margin-top: 5px;
      }
    }
  }
}

.main {
  height: 100%;
  width: calc(100% - 300px);
  float: right;
  .header {
    box-sizing: border-box;
    height: 100px;
    padding: 0 40px;
    background-color: white;

    &__left {
      color: $mainleftheaderColor;
      float: left;

      .left-header__title {
        color: $mainleftheadermembersColor;
        font-size: 20px;
        margin-top: 35px;
      }
      ul.left-header__members {
        display: flex;
        color: $maindateColor;
        font-size: 12px;
        margin-top: 15px;
      }
    }

    &__right {
      border: 1px solid $footersubmitColor;
      color: $footersubmitColor;
      float: right;
      height: 40px;
      line-height: 40px;
      margin-top: 28px;
      padding: 0 20px;
      a {
        color: $footersubmitColor;
        text-decoration: none;
      }
    }
  }

  &__body {
    background-color: $mainbodyColor;
    box-sizing: border-box;
    height: calc(100vh - 100px - 90px);
    overflow: scroll;
    padding: 46px 40px 0;

    .message {
      margin-bottom: 40px;

      &__user {
        color: $mainuserColor;
        font-size: 16px;
        font-weight: bold;
        display: inline-block;
      }
      &__date {
        color: $maindateColor;
        font-size: 12px;
        padding-left: 10px;
        display: inline-block;
      }
      &__content {
        margin-top: 10px;
        color: $maincontentColor;
        font-size: 14px;
        margin-bottom: 10px;
      }
    }
  }

  .form {
    background-color: $footerColor;
    box-sizing: border-box;
    height: 90px;
    padding: 20px 50px 20px 40px;

    &__message{
      border: none;
      box-sizing: border-box;
      float: left;
      height: 50px;
      padding: 0 10px;
      width: calc(100% - 150px);
    }

    &__mask {
      background-color: $footerimageColor;
      float: left;
      height: 50px;
      padding-right: 10px;
      width: 20px;
      position: relative;

    &__image {
      font-size: 20px;
      line-height: 50px;
    }
    .hidden {
      display: none;
    }
  }
  &__submit {
      background-color: $footersubmitColor;
      border: none;
      color: $footerimageColor;
      float: right;
      font-size: 16px;
      height: 50px;
      margin-left: 15px;
      padding: 0 30px;
    }
  }
}