$white: #fff;
$side_blue_dark: #253141;
$side_blue_light: #2f3e51;
$light_blue: #38AEF0;
$light_gray: #999;
$black: #434a54;
$alert_orange: #F35500;

//sidebarの色の変数を定義
$sidebarColor: #2f3e51;
$sideHeaderColor: #253141;

//mainの色の変数を定義
$mainbodyColor: #38AEF0;
$mainheaderColor: #FFFFFF;
$mainfooterColor: #DDDDDD;
$mainuserColor: #434a54;
$maindateColor: #999;
$maincontentColor: #434a54;
$mainleftheaderColor: #333333;
$mainleftheadermembersColor: #333;

//footerの色の変数を定義
$footerColor: #DDDDDD;
$footerimageColor: #fff;
$footersubmitColor: #38AEF0;

//フラッシュメッセージの変数を定義
$white: #fff;
$side_blue_dark: #253141;
$side_blue_light: #2f3e51;
$light_blue: #38AEF0;
$light_gray: #999;
$black: #434a54;
$alert_orange: #F35500;
